<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.gpaengenharia" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/nome_app"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.AtvLogin"
            android:label="@string/nome_app"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AtvPrincipal"
            android:label="@string/titulo_atv_login" >
        </activity>
    </application>

</manifest>
